<section class="tabbed-section-1 visible">

	<h2 class="section--title">Overview</h2>

	<div class="block">
		<h3 class="block--title">About Me</h3>
		<div class="block--content">
			<p>My name is Dominic Lear and for the past 7 years i've been helping companies to improve their digital presence and online products through my roles as a Website Manager, Project Manager and most recently Technical Programme Manager at RMP Enterprise.</p>
			<p>I'm a big fan of coffee, some would say I enjoy it too much. I like to keep active by playing football regularly and as you can see from this site I dabble in a little web design using HTML, CSS and JavaScript.</p>
		</div>
	</div>		
	
	<div class="block">
		<h3 class="block--title">My Current Role</h3>
		<div class="block--content">
			<p>As a Technical Programme Manager at RMP Enterprise I lead the internal development team and focus on ensuring the company has the technology, technical resources and processes it needs to meet its business objectives.</p>
			<p>My role currently consists of a blend of project management, business analysis, product management, testing and quality assurance.</p>
			<p>The main products with the RMP Enterprise porfolio that I focus on developing and improving are RateMyPlacement, RMP Connect and RateMyApprenticeship.</p>
		</div>
	</div>

</section>