<section class="tab-content tab-content--hidden" id='projects'  data-tab="2">

	<h2 class="section--title">Projects</h2>

		<div class="block">
			<h3 class="block--title">RMP Enterprise</h3>
			<div class="block--content">
				<h4>RMP Connect</h4>
				<p>RMP Connect is a SAAS product focused on the capture of data from many sources and then the segmentation and analysis of that data to allow graduate recruiters to engage with students online and offline.</p>	
	
				<h4>RateMyPlacment</h4>			
				<p>RateMyPlacement is the the flagship product of RMP Enterprise and is where it all started. The site was launched 7 years ago as a review platform and has grown from that into a job board where clients can advertise undergraduate internships and placements alongside their reviews.</p>

				<h4>RateMyApprenticeship</h4>
				<p>RateMyApprenticeship is the younger sister of RateMyPlacement and is based on the same model of jobs alongside reviews but it's aimed at the apprenticeship demographic of 16-18 year olds.</p> 

			</div>
		</div>

		<div class="block">
			<h3 class="block--title">Personal</h3>
			<div class="block--content">
				<p>In my spare time I dabble with web development and i've got a strong interest in learning JavaScript, ES6 and Node.js. At RMP Enterprise we prefer to use Laravel for the backend of our websites and i've spent some time learning about the framework. Being a programme manager i think its important to have knowledge of the technology our products are built with.</p>

				<h4>Side Projects</h4>
				<p>I've also built a few single pages apps to automate day to day tasks that are part of my role as well as some internally focused tools for the business such as:</p>	
				<ul class="block--list">
					<li><strong>Company KPI Dashboards</strong> - Built with Backbone.js, these dashboards pull data in via Google Analytics, Google Sheets and a custom JSON source.</li>
					<li><strong>Query Builder</strong> - A single page app built with Vue.js that allows users to build SQL queries they can run against our databases for reporting and analysis purposes</li>
					<li><strong>Email Alerts</strong> - Using a mix of Node.js, SSH and SQL i've built a set of automated tasks that provide reports and alerts to myself and the wider team at RMP Enterprise.</li>
					<li><strong>Email Template Framework</strong> - To help improve our email marketing efforts I developed a template framework and workflow using Grunt, Premailer and LESS that allows us to build responsive email rapidly and repeatably.</li>
				</ul>

			</div>	
		</div>

</section>