<section class="tabbed-section-4 tab-content hidden" id='skills' data-tab="4">

	<h2 class="section--title">Skills</h2>

	<div class="block">
		<h3 class="block--title">Project Management</h3>
		<div class="block--content">
			<h4>Certified AgilePM (2014) Practitioner</h4>
			<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			<h4>Certified AgilePM (2014) Practitioner</h4>
			<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			<h4>Scrum</h4>
			<p>While AgilePM is a useful tool for engaging with the wider business and starting projects once firm foundations have been started we still practice scrum within our team for sprint level work. I generally play the role of the product manager for the wider business within the scrum team but occassionally i take the role of scrum master.</p>
		</div>

	</div>

	<div class="block">
		<h3 class="block--title">Technical</h3>
		<div class="block--content">
			<h4>Website &amp; Project Manager at RMP Enterprise</h4>
			<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
		</div>
	</div>

	<div class="block">
		<h3 class="block--title">Non Technical</h3>
		<div class="block--content">
			<h4>Website Manager at RMP Enterprise</h4>
			<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
		</div>
	</div>

</section>