<section class="tab-content tab-content--hidden" id='skills' data-tab="4">

	<h2 class="section--title">Skills</h2>

	<div class="block">
		<h3 class="block--title">Project Management</h3>
		<div class="block--content">
			<h4>Certified AgilePM (2014) Practitioner</h4>
			<p>To improve my project management skills and to get a firm methodology for planning projects I went on and passed an AgilePM course.</p>
			<p>The AgilePM methodology offers a practical and repeatable methodology that aims to achieves an ideal balance between standards, rigour and visibility required for good project management, and the fast pace, change and empowerment provided by agile.</p>
			<p>The pracitioner level is focused on applying the methodology as a project mananger in an agile environment. Through my role I have used this to improve the planning and organisation of our projects before we move into the development phase.</p>

			<h4>Certified AgilePM (2014) Foundation</h4>
			<p>The foundation level of AgilePM sets out the principles and processes that form the methodology, having strong knowledge of the foundations is key to applying AgilePM methodology to real world projects.</p>

			<h4>Scrum</h4>
			<p>AgilePM is a useful tool for engaging with the wider business and establishing firm foundations before a project has been started but we practice scrum within our team for sprint level work. I play the role of the product manager for the wider business within the scrum team and occassionally I take the role of scrum master.</p>
		</div>

	</div>

	<div class="block">
		<h3 class="block--title">Web Development</h3>
		<div class="block--content">
			<p>In my opinion when managing a team of developers and designers it's important to be able to speak their language and understand the technologies they use to build our products. To help with that i've spent a considerable amount of my own time experimenting and using the the technology I encounter within my role. Here's a quick overview of how I would compare my proficiency in certain ares of web  development.</p>
			<table class="chart-table">				
				<tr>
					<th>CSS & LESS</th>
					<td>
						<span class="bar" style="width: 80%;"></span>
					</td>
				</tr>
				<tr>
					<th>Git</th>
					<td>
						<span class="bar" style="width: 40%;"></span>
					</td>
				</tr>
				<tr>
					<th>Javascript</th>
					<td>
						<span class="bar" style="width: 70%;"></span>						
					</td>
				</tr>
				<tr>
					<th>Linux</th>
					<td>
						<span class="bar" style="width: 30%;"></span>
					</td>
				</tr>
				<tr>
					<th>Node.js</th>
					<td>
						<span class="bar" style="width: 60%;"></span>
					</td>					
				</tr>
				<tr>
					<th>PHP</th>
					<td>
						<span class="bar" style="width: 30%;"></span>
					</td>
				</tr>
				<tr>
					<th>Semantic HTML</th>
					<td>
						<span class="bar" style="width: 90%;"></span>
					</td>
				</tr>
				<tr>
					<th>SQL</th>
					<td>
						<span class="bar" style="width: 70%;"></span>
					</td>
				</tr>				
			</table>
		</div>
	</div>

</section>