---

title: Dominic Lear - Technical Programme Manager
description: I'm Dom and for the past 7 years I've been helping companies to improve their digital presence and online products

---

{{#extend "base"}}

	{{#content "main"}}

		<section class="hey">
			<img src="/assets/img/dom.jpg"> 
			<h3>Hey</h3>
			<h1>I'm Dom. Technical Programme Manager <span>at</span> <a href="http://rmpenterprise.co.uk">RMP Enterprise</a></h1>
			<a href="https://www.linkedin.com/in/dominiclear" class="button ghost hvr-sweep-to-right">Contact me on LinkedIn</a>
		</section>		

	{{/content}}
 
	{{#content "content"}}

	<div class="tab-container">
		<div class="tab-nav-overflow">
			<nav class="tab-nav">
				<a class="tab-link tab-link--active" href="#overview" data-tab-id="1">Overview</a>
				<a class="tab-link" href="#projects" data-tab-id="2">Projects</a>
				<a class="tab-link" href="#experience" data-tab-id="3">Experience</a>
				<a class="tab-link" href="#skills" data-tab-id="4">Skills</a>
				<span class="tab-link--highlighter"></span>
			</nav>
		</div>
			
		{{> overview }}

		{{> projects }}
		
		{{> experience }}

		{{> skills }}

	</div>

	{{/content}}

{{/extend}}