---

title: Dominic Lear

---

{{#extend "base"}}

{{#content "main"}}

	<section class="hey">
		<img src="/assets/img/dom.jpg">
		<h3>Hey</h3>
		<h1>I'm Dom. Technical Programme Manager <span>at</span> <a href="http://rmpenterprise.co.uk">RMP Enterprise</a></h1>
		<a href="#" class="button ghost">Contact me on LinkedIn</a>
	</section>

{{/content}}

{{#content "content"}}

<div class="material-tabs">
	<nav class="tabbed-section__selector">
		<a class="tabbed-section__selector-tab-1 active" href="#">Overview</a>
		<a class="tabbed-section__selector-tab-2" href="#">Projects</a>
		<a class="tabbed-section__selector-tab-3" href="#">Experience</a>
		<a class="tabbed-section__selector-tab-4" href="#">Skills</a>
		<a class="tabbed-section__selector-tab-5" href="#">Awards</a>
		<span class="tabbed-section__highlighter"></span>
	</nav>


	<section class="tabbed-section-1 visible">

		<div class="block">
			<h3 class="block--title">About Me</h3>
			<div class="block--content">
				<p>My name is Dominic Lear and for the past 7 years i've been helping companies to improve their digital presence and online products through my roles as a Website Manager, Project Manager and most recently Technical Programme Manager at RMP Enterprise.</p>
				<p>I'm a big fan of coffee, some would say I enjoy it too much. I like to keep active by playing football regularly and as you can see from this site I dabble in a little web design using HTML, CSS and JavaScript.</p>
			</div>
		</div>		
		
		<div class="block">
			<h3 class="block--title">My Current Role</h3>
			<div class="block--content">
				<p>As a Technical Programme Manager at RMP Enterprise I lead the internal development team and focus on ensuring the company has the technology, technical resources and processes it needs to meet its business objectives.</p>

				<p>My role currently consists of a blend of project management, business analysis, product management, testing and quality assurance.</p>

				<p>The main products with the RMP Enterprise porfolio that I focus on developing and improving are RateMyPlacement, RMP Connect and RateMyApprenticeship.</p>

			</div>
		</div>

	</section>

	<section class="tabbed-section-2 hidden">

		<div class="block">
			<h3 class="block--title">RateMyPlacment</h3>
			<div class="block--content">
				<h4>Employee of the Year</h4>
				<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			</div>
		</div>

		<div class="block">
			<h3 class="block--title">RMP Connect</h3>
			<div class="block--content">
				<h4>Employee of the Year</h4>
				<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			</div>
		</div>

		<div class="block">
			<h3 class="block--title">RateMyApprenticeship &amp; NSEC</h3>
			<div class="block--content">
				<h4>Employee of the Year</h4>
				<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			</div>
		</div>

		<div class="block">
			<h3 class="block--title">Personal</h3>
			<div class="block--content">
				<h4>Employee of the Year</h4>
				<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			</div>
		</div>


	</section>

	<section class="tabbed-section-3 hidden">
		<h3>Experience</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel modi facere eius, sapiente aut rerum quae consequatur temporibus nam iste voluptates velit placeat sunt natus quia cupiditate assumenda eum ratione.</p>
	</section>

	<section class="tabbed-section-4 hidden">

		<div class="block">
			<h3 class="block--title">Feb '16 to present</h3>
			<div class="block--content">
				<h4>Technical Programme Manager at RMP Enterprise</h4>
				<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			</div>
		</div>

		<div class="block">
			<h3 class="block--title">Feb '16 to Feb '16</h3>
			<div class="block--content">
				<h4>Website &amp; Project Manager at RMP Enterprise</h4>
				<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			</div>
		</div>

		<div class="block">
			<h3 class="block--title">Feb '16 to Feb '16</h3>
			<div class="block--content">
				<h4>Website Manager at RMP Enterprise</h4>
				<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			</div>
		</div>

		<div class="block">
			<h3 class="block--title">Feb '16 to Feb '16</h3>
			<div class="block--content">
				<h4>Digital Content Merchandiser &amp; Administrator Roles</h4>
				<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			</div>
		</div>

	</section>

	<section class="tabbed-section-5 hidden">

		<div class="block">
			<h3 class="block--title">June '15</h3>
			<div class="block--content">
				<h4>Employee of the Year</h4>
				<p>Each year the directors of RMP Enterprise Ltd selects one employee to win the Employee of the Year Award, for recognising outstanding contributions and achievements made to the business and the team. It celebrates far exceeding expectations for all targets and objectives.</p>
			</div>
		</div>		
		
		<div class="block">
			<h3 class="block--title">Sep '14</h3>
			<div class="block--content">
				<h4>Employee of the Quarter</h4>
				<p>Each quarter the directors of RMP Enterprise Ltd reward one employee with the Employee of the Quarter Award, for outstanding achievements and significant contribution to the business.</p>
			</div>
		</div>

		<div class="block">
			<h3 class="block--title">Sep '14</h3>
			<div class="block--content">
				<h4>Employee of the Month</h4>
				<p>Each month the employes of RMP Enterprise Ltd vote for one employee to win the Employee of the Month Award, for successes within the business, supporting the team and sometimes more generally for being good to work with.</p>
			</div>
		</div>

	</section>

	</div>

{{/content}}

{{#content "nav"}}

{{/content}}


{{/extend}}