// http://ianlunn.github.io/Hover/

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	overflow-y: hidden;
	color: #444;
	background: #F9F9F9;
}

.main,
.content {
	height: 100%;
	width: 50%;
	float: left;
}

.main {
	background: #1560FA url(../../assets/img/ducks-v1.jpg);
	color: #FFF;
	text-align: center;
	background-position: right top;

	.hey {
		padding: 40px;
		position: absolute;
		top: 50%;
		width: 50%;
		transform: translate(0,-50%);
	}

	.ducks {
		display: none;
		width: 50%;
		position: absolute;
		bottom: 10px;		
		left: 0;
		color: #4B97E6;
	}
}

.content {
	padding: 80px 40px 40px 40px;
	height: 100%;
	overflow-y: scroll;
}

.no-csstransforms {
	.main .hey {
		position: relative;
    	top: 0;
    	width: 100%;
	}
}

/* Larger than tablet */
@media (max-width: 1100px) {
	body {
		overflow-y: auto;
	}
 	.main,
	.content {
		float: none;
		width: 100%;
		height: auto;
	}
	.content {
		padding: 40px 20px 40px 20px;
	}
	.main .hey { 
		position: static;
		width: 100%;
		transform: none;
	}
}

/* Larger than tablet */
@media (max-width: 750px) {
	.main .hey {
		padding: 30px 20px;
	}	
	.material-tabs {
		padding: 0;
	}
}

/* Larger than phablet */
@media (max-width: 550px) {
	.content {
		padding-top: 0;
	}
}

/* Larger than mobile */
@media (max-width: 400px) {

}
