// http://codepen.io/LukyVj/pen/yNwgrK

@main-size: 16px;

// Material tabs
.tab-container {
	display: block;
	float: left;
	padding: @main-size;
	padding-top: 0;
	width: 100%;

//	@media all and (max-width: 480px) {
//		max-width: 100%;
//		left: 0;
//	}
}

.tab-content--visible {
	position: relative;
	opacity: 1;
	width: 100% ;
	height: auto;
	float: left;
	transition: opacity .35s ease;
	z-index: 3;
}
.tab-content--hidden {
	position: absolute;
	opacity: 0;
	z-index: 0;
	transition: opacity 0s ease;
	height: 0;
	img {
		display: none;
	}
}

.tab-content {
	float: left; 
	//color: #000;  
}


.tab-nav {
	position: relative;
	height: @main-size*2;
	top: -@main-size*1.95;
	left: -@main-size;
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;

	.tab-link {
		float: left;
		display: block;
		height: @main-size*2;
		line-height: @main-size*2;
		width: 100px;
		text-align: center;
		font-weight: 600;
		text-decoration: none;
		color: #444;
		font-size: 14px;


		&.tab-link--active {
			color: @blue;
		}
	}

}

.tab-link--highlighter {
	position: absolute;
	z-index: 10;
	bottom: 0;
	height: 2px;
	background: @blue;
	max-width: 100px;
	width: 100%;
	transform: translateX(0);
	display: block;
	left: 0;
	transition: transform .23s ease ;
}

.tab-link[data-tab-id="4"].tab-link--active ~ .tab-link--highlighter {
	transform: translateX(300px);
}
.tab-link[data-tab-id="3"].tab-link--active ~ .tab-link--highlighter {
	transform: translateX(200px);
}
.tab-link[data-tab-id="2"].tab-link--active ~ .tab-link--highlighter {
	transform: translateX(100px);
}
.tab-link[data-tab-id="1"].tab-link--active ~ .tab-link--highlighter {
	transform: translateX(0);
}

/* Larger than mobile */
@media (max-width: 400px) {
	.tab-container {
		padding: 0;
	}
}

/* Larger than phablet */
@media (max-width: 550px) {
	.tab-nav {
		width: 400px;
		margin: 0 auto;
		float: none;
		position: relative;
    	top: 0;
    	left: 0;
    	height: 45px;

    	.tab-link { 
    		height: 45px;
    		line-height: 45px;
    	}
	}
	.tab-nav-overflow {
		overflow-x: scroll;
	}
}

/* Larger than tablet */
@media (max-width: 750px) {
	.material-tabs {
		padding: 0;
	}
}

/* Larger than tablet */
@media (max-width: 1100px) {

}

.no-classlist {
	.tab-content--hidden,
	.tab-content--visible {
		position: relative;
		float: none;
		opacity: 1;
		z-index: 3;
	}
	.section--title {
		display: block;
	}
	.tab-nav {
		position: absolute;
	    top: 0;
	    left: 50%;
	    background: #FFF;
	    z-index: 100;
	    height: 45px;

	    .tab-link {
	    	height: 45px;
	    	line-height: 45px;

	    	&.tab-link--active {
	    		color: #444;
	    	}
	    }
	}
	.tab-link--highlighter {
		width: 100%;
		max-width: 100%;
	}
    
}